---
title: Daryl (Blog)
---
<ul>
  {% for post in site.posts limit:1 %}
      <h1>{{ post.title }}</h1>
      <p>{{ post.content }}</p>
						
		<div class="PageNavigation">
		  {% if post.previous.url %}
		    <a class="prev" href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
		  {% endif %}
		  {% if post.next.url %}
		    <a class="next" href="{{post.next.url}}">{{post.next.title}} &raquo;</a>
		  {% endif %}
		</div>

  {% endfor %}
</ul>

<span>Or visit the archives <a href="/archives.html">here<a></span>
